/* https://color.adobe.com/fr/Flat-UI-Kit-3-color-theme-4434354/

#2f4f4f Darkslategray
#a9a9a9 Darkgray
#fffafa Snow
#00ced1 Darkturquoise
#ff7f50 Coral

*/


											/* MENU */


											
/* #logo, #menu {
	display: inline;
} */


body{
font-family: 'Dosis', sans-serif;
}

nav ul li{
display:inline;
text-transform:uppercase; /* majuscules */
font-family:courier;
text-decoration:none;
margin-right:50px;
}

a{
text-decoration:none;
color:white;
}

a:hover{
color:#00ced1;
}

.menu{
background:url(img/brick_black.jpg);
text-align:center;
padding-top:20px;
padding-top:20px;
}

h2{ 
margin:0px;
padding:0px; /* Suppresion marges */
font-size:70px;
font-weight:900;
text-transform:uppercase;
font-family: 'Titillium Web', sans-serif;
}

p{ 
margin:0px;
padding:0px; /* Suppresion marges */
}

ul{ 
margin:0px;
padding:0px; /* Suppresion marges */
}

.blue{
color:#0b9dbf;
}

.white{
color:white;
}

#centre{
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom:
}

#home {
background:url(img/brick_black.jpg);
}

#situation {
background:url(img/brick_grey.jpg);
}

#experience {
background:url(img/brick_blue.jpg);
}

#formation {
background:url(img/brick_black.jpg);
}

#divers {
background:url(img/brick_grey.jpg);
}


.section{
margin-left:200px;
margin-right:200px;
padding-top:100px;
padding-bottom:100px;
}




											/* Situation professionnelle */


											


											
.statut{

}